// Should these styles be in Game/styles.scss?
$BoardGrid-squareDimension: 100px;
$BoardGrid-red: lightcoral;
$BoardGrid-yellow: lightyellow;
$BoardGrid-hoverColor: lightgray;

.BoardGrid {
  display: inline-grid;
  grid-gap: 1px;
  background-color: gray;
  border: 1px solid gray;
}

.BoardGrid--won {
  background-color: $BoardGrid-red;
  border-color: $BoardGrid-red;
}

.BoardGrid--catsGame {
  background-color: $BoardGrid-yellow;
  border-color: $BoardGrid-yellow;
}

.BoardGrid-Square {
  height: $BoardGrid-squareDimension;
  width: $BoardGrid-squareDimension;
  border-color: transparent;
  font-size: $BoardGrid-squareDimension / 2;

  &:hover {
    background-color: $BoardGrid-hoverColor;
  }

  &:focus, &:active {
    outline: none;
  }

  .BoardGrid--won & {
    pointer-events: none;
    background-color: $BoardGrid-yellow;
  }

  .BoardGrid--catsGame & {
    pointer-events: none;
    background-color: $BoardGrid-red;
  }
}
