body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.flexrow {
  display: flex;
}

.items-start {
  align-items: flex-start;
}

.content-center {
  justify-content: center;
}

.mar-20b {
  margin-bottom: 10px;
}

.mar-5b {
  margin-bottom: 5px;
}

.mar-20l {
  margin-left: 20px;
}
