// Should these styles be in TicTacToe/styles.scss?
.BoardControls-inputs {
  min-width: 140px;
  max-width: 140px;
}

.BoardControls-Message {
  font-size: 24px;
}

.dropdown-menu.BoardControls-Menu {
  min-width: 90px;
  max-width: 90px;
}

.BoardControls-Menu--labels {
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.BoardControls-LabelOption {
  font-size: 24px;
}
